<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.iproute.middleware.seata.at.points.dao.PointsDAO">

    <select id="findByUsername" parameterType="String"
            resultType="org.iproute.middleware.seata.at.points.entity.Points">
        select points_id pointsId, username, quantity
        from points
        where username = #{value}
    </select>

    <update id="update" parameterType="org.iproute.middleware.seata.at.points.entity.Points">
        UPDATE points
        SET username = #{username},
            quantity = #{quantity}
        WHERE points_id = #{pointsId}
    </update>

</mapper>
