<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.iproute.middleware.seata.at.storage.dao.StorageDAO">
    <select id="findByGoodsCode" parameterType="String"
            resultType="org.iproute.middleware.seata.at.storage.entity.Storage">
        select storage_id storageId, goods_code goodsCode, quantity
        from storage
        where goods_code = #{value}
    </select>
    <update id="update" parameterType="org.iproute.middleware.seata.at.storage.entity.Storage">
        UPDATE storage
        SET goods_code = #{goodsCode},
            quantity   = #{quantity}
        WHERE storage_id = #{storageId};
    </update>
</mapper>
