<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.iproute.pg.json.mapper.BookMapper">

    <resultMap id="BookResultMap" type="org.iproute.pg.json.entities.po.Book">
        <id column="id" property="id"/>
        <result column="detail" property="detail" typeHandler="org.iproute.pg.json.entities.po.Book$DetailTypeHandler"/>
        <result column="authors" property="authors"
                typeHandler="org.iproute.pg.json.entities.po.Book$ListAuthorTypeHandler"/>
        <result column="types" property="types" typeHandler="org.iproute.pg.json.entities.po.Book$StringArrayTypeHandler"/>
    </resultMap>

    <select id="limitPage" resultMap="BookResultMap">
        select id,
               detail,
               authors,
               types
        from (select id,
                     detail,
                     authors,
                     types
              from book
              limit 100) t
    </select>


    <select id="listReturnMap" resultType="java.util.Map">
        select id,
               detail,
               authors,
               types
        from book
        limit 10
    </select>

</mapper>