<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.iproute.pg.json.mapper.DemoBeanMapper">

    <select id="getDemoBeanList" resultType="org.iproute.pg.json.entities.po.DemoBean">
        select id, name, create_time, update_time
        from demo_bean
        where create_time <![CDATA[>]]> #{startTime}
          and create_time <![CDATA[<]]> #{endTime}
    </select>

</mapper>